Last login: Wed Jul 27 17:27:45 on ttys000
Ryans-MacBook-Pro:~ RyanBrennan$ cd desktop
Ryans-MacBook-Pro:desktop RyanBrennan$ cd test
Ryans-MacBook-Pro:test RyanBrennan$ git add index.html
Ryans-MacBook-Pro:test RyanBrennan$ git commit -m 'update html'
[master d054aff] update html
 Committer: Ryan Brennan <RyanBrennan@Ryans-MacBook-Pro.local>
Your name and email address were configured automatically based
on your username and hostname. Please check that they are accurate.
You can suppress this message by setting them explicitly. Run the
following command and follow the instructions in your editor to edit
your configuration file:

    git config --global --edit

After doing this, you may fix the identity used for this commit with:

    git commit --amend --reset-author

 1 file changed, 0 insertions(+), 0 deletions(-)
 create mode 100644 index.html
Ryans-MacBook-Pro:test RyanBrennan$ vi style.css


*{
 margin: 0x;
 padding: 0px;
}

~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
~                                                                               
-- INSERT --
